aiomysql<=0.2.0
amqp<=5.3.1
async-timeout<=5.0.1
bcrypt<=4.3.0
billiard<=4.2.3
cachetools<=6.2.2
celery<=5.5.3
certifi<=2025.11.12
cffi<=2.0.0
chardet<=4.0.0
click<=8.3.1
click-didyoumean<=0.3.1
click-plugins<=1.1.1.2
click-repl<=0.3.0
cryptography<=44.0.1
dnspython<=2.8.0
google-auth<=2.41.1
google-auth-httplib2<=0.2.1
google-auth-oauthlib<=1.2.3
h11<=0.16.0
httplib2<=0.31.0
idna<=2.10
kombu<=5.5.4
motor<=3.6.0
oauthlib<=3.3.1
packaging<=25.0
prompt_toolkit<=3.0.52
pyasn1<=0.6.1
pyasn1_modules<=0.4.2
pycparser<=2.23
pymongo<=4.9.2
PyMySQL<=1.1.2
pyparsing<=3.2.5
python-dateutil<=2.9.0.post0
python-multipart<=0.0.6
redis<=5.2.1
requests<=2.25.1
requests-oauthlib<=2.0.0
rsa<=4.9.1
six<=1.17.0
tzdata<=2025.2
urllib3<=1.26.20
uvicorn<=0.32.0
vine<=5.1.0
wcwidth<=0.2.14
